/node_modules/
/data/
/tmp/

/.idea/workspace.xml
/.idea/dictionaries

*.log

/config.js

/.nyc_output/
.idea/

lib/plugins/core/build
lib/plugins/core/web-client/chaos-client.js
lib/plugins/core/web-server/public/client.bundle.js

